*{
    margin: 0;
    padding: 0;
}
$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$pri-color: #00A4DB;
$sec-color: #ff8700;
$white:#ffffff;
$black: #070606;
$nav-color: #E3F5FB;
$alt-color: #F7F7F7;
$reset: #DDDFD3;
$background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(0, 164, 219, 0.32);

li{
    text-decoration: none;
}
a{
   text-decoration: none;
   display: flex;
   padding: 10%;
}
button{
    width: 25vw;
    height: 9vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: $pri-color;
    color: $white;
}