@mixin flex($flex, $justify, $align, $direction) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }
  @mixin font($size, $weight, $line-height, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
  }
  @mixin style($style, $family) {
    font-style: $style;
    font-family: $family;
  }
  @mixin grid($grid, $repeat, $fraction, $x-gap, $y-gap) {
    display: $grid;
    grid-template-rows: repeat($repeat, $fraction);
    grid-gap: $x-gap $y-gap;
  }  
  $sizes: 40px, 50px, 80px;
  @each $size in $sizes {
    .icon-#{$size} {
      font-size: $size;
      height: $size;
      width: $size;
    }
  } 